html
  head 
    style
      include style.css
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
  body
    div(class="container")
      h1 Account
      div(style="max-width: 100%;")
        div(class="row")
          span(style="flex-basis: 80px;") pub_key
          span(style="flex-basis: 0; flex: 1")= pub_key
        div(class="row")
          span(style="flex-basis: 80px;") value
          span(style="flex-basis: 0; flex: 1")= value
      div(id="myDiv")
      h2 Transactions
      div
        each txn in transactions
          div(class="row")
            span(style="flex-basis: 100px; flex: 1")
              a(href=`/transaction/${txn.hash}`)= txn.hash
            span(style="flex-basis: 100px; flex: 1")= txn.sender
            span(style="flex-basis: 100px; flex: 1")= txn.recipient
            span(style="flex-basis: 100px;")= txn.value
      script.
        const value_history = !{JSON.stringify(history)};
        const trace1 = {
          x: [...Array(value_history.length).keys()],
          y: value_history,
          type: 'scatter'
        };
        var data = [trace1];
        Plotly.newPlot('myDiv', data);