html
  head 
    style
      include style.css
  body
    div(class="container")
      h1= `Block ${block.height}`
      div(style="max-width: 100%;")
        div(class="row")
          span(style="flex-basis: 80px;") hash
          span(style="flex-basis: 0; flex: 1")= block.hash
        div(class="row")
          span(style="flex-basis: 80px;") prev_block
          span(style="flex-basis: 0; flex: 1")= block.header.prev_block
        div(class="row")
          span(style="flex-basis: 80px;") timestamp
          span(style="flex-basis: 0; flex: 1")= block.header.timestamp
        div(class="row")
          span(style="flex-basis: 80px;") difficulty
          span(style="flex-basis: 0; flex: 1")= block.header.difficulty
        div(class="row")
          span(style="flex-basis: 80px;") nonce
          span(style="flex-basis: 0; flex: 1")= block.header.nonce
      h2 Transactions
      each txn in block.transactions
          div(class="row")
            span(style="flex-basis: 100px; flex: 1")
              a(href=`/transaction/${txn.hash}`)= txn.hash
            span(style="flex-basis: 100px; flex: 1")= txn.sender
            span(style="flex-basis: 100px; flex: 1")= txn.recipient
            span(style="flex-basis: 100px;")= txn.value

